html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-width: 840px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.hero {
  text-align: center;
  color: #fff;
  height: 150px;
  line-height: 150px;
  background: #a284dd; /* Old browsers */
  background: -moz-linear-gradient(top,  #a284dd 0%, #c17ac2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a284dd), color-stop(100%,#c17ac2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a284dd 0%,#c17ac2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a284dd 0%,#c17ac2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a284dd 0%,#c17ac2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a284dd 0%,#c17ac2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a284dd', endColorstr='#c17ac2',GradientType=0 ); /* IE6-9 */
}

.hero img {
  vertical-align: middle;
}

.social-buttons {
  margin-bottom: 20px;
}

.subheader {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ececec;
  text-align: center;
  color: #a08ca1;
  height: 75px;
  line-height: 75px;
  margin-bottom: 25px;
}

.subheader h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 19px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #AB81D6;
}

#hero-surface {
  width: 750px;
  height: 340px;
}

#hero-surface path {
  stroke-width: 1px;
  stroke: rgba(0,0,0,.2);
}

.drag-msg {
  opacity: 0;
  transition: opacity 0.5s;
  width: 680px;
  color: #999;
  font-size: 13px;
  text-align: right;
}

.drag-msg.show {
  opacity: 1;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  color: #aaa;
  font-size: 13px;
}

footer a {
  color: inherit;
}

.center {
  text-align: center;
}